body {
	font-family: 'Calibri';
	font-size: 14pt;
	background-color: #000000;
	color: #ffffff;
}
h1 {
	font-size: 30pt;
}
table {
	color: 0;
	border-collapse: collapse;
	border: 1px solid #b0b0b0;
}
table td{
	padding: 8px;
}
table th{
	background-color: #5050a0;
	color: #ffffff;
	padding: 8px;
}
table tr:nth-child(odd){
	background-color: #f0f0f0;
}
.main_block {
	margin: 0px auto;
	width: 90%;
	max-width: 1280px;
}
.grid_container {
	display: grid;
	margin: 0px 0px 40px;
	grid-template-columns: 256px auto;
	align-content: start;
	grid-column-gap: 40px;
}
.left_part {
	grid-column: 1;
	margin: 0px;
}
.portrait {
	margin: 0px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8), 0px 5px 30px rgba(100, 100, 255, 0.8);
}
.button {
	display: block;
	margin: 16px 0px;
	padding: 8px 10px;
	font-size: 20px;
	border-radius: 4px;
	background-image: url(button.png);
	transition-duration: 0.1s;
	color: #ffffff;
	text-decoration: none;
}
.button:hover {
	filter: brightness(180%);
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8), 0px 0px 15px rgba(100, 100, 255, 0.8);
}
.button:active {
	filter: brightness(80%);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8), 0px 0px 30px rgba(100, 100, 255, 0.8);
}
.button p {
	margin: 0px;
}
.right_part {
	grid-column: 2;
	margin: 0px;
}
.main_text {
	background-color: #ffffff;
	padding: 25px;
	color: #000000;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8), 0px 5px 30px rgba(100, 100, 255, 0.8);
}
.gallery {
	display: grid;
	margin: 40px 0px;
	grid-template-columns: auto auto;
	align-content: start;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.image_card {
	margin: 0px;
	padding: 0px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8), 0px 2px 15px rgba(100, 100, 255, 0.8);
	align-self: start
}
.image_card_desc {
	margin: 0px;
	padding: 15px;
}
.footer {

}