body {
	font-family: 'Calibri';
	font-size: 14pt;
	background-color: #505080;
	color: #ffffff;
}
h1 {
	font-size: 30pt;
}
table {
	color: 0;
	border-collapse: collapse;
	border: 1px solid #b0b0b0;
}
table td{
	padding: 8px;
}
table th{
	background-color: #505080;
	color: #ffffff;
	padding: 8px;
}
table tr:nth-child(odd){
	background-color: #f0f0f0;
}
.no_margin {
	margin: 0px;
}
.main_block {
	margin: 0px auto;
	width: 90%;
	max-width: 1280px;
}
.grid_container {
	display: flex;
	margin: 10px 0px 40px;
	gap: 30px;
}
@media all and (max-width: 640px) {
	.grid_container {
		flex-flow: row wrap;
	}
	.left_part{
		flex-basis: 100%;
	}
}
@media all and (min-width: 640px) {
	.grid_container {
		flex-flow: row nowrap;
	}
	.left_part{
		flex-basis: 256px;
	}
}
.left_part {
	margin: 0px;
}
.portrait {
	margin: 0px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.button {
	display: block;
	margin: 16px 0px;
	padding: 8px 10px;
	font-size: 20px;
	border-radius: 4px;
	background-image: url(button.png);
	transition-duration: 0.1s;
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.button:hover {
	filter: brightness(180%);
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.button:active {
	filter: brightness(80%);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 1), 0px 5px 20px rgba(0, 0, 0, 1);
}
.button p {
	margin: 0px;
}
.main_part {
	flex: 1 1;
	margin: 0px;
}
.main_text {
	background-color: #ffffff;
	padding: 25px;
	color: #000000;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.gallery {
	display: flex;
	margin: 40px 0px;
	flex-flow: row wrap;
	gap: 30px;
	align-items: flex-start;
}
.image_card {
	margin: 0px;
	padding: 0px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	flex: 1;
	min-width: 300px;
}
.image_card_desc {
	margin: 0px;
	padding: 15px;
}
.footer {

}